@model IEnumerable<MVC_Store.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<p>
    @Html.ActionLink("Create New Page", "AddPage", "", new { @class = "btn btn-success" })
</p>

@htmlHelpers.StatusMessage(TempData)

<table id="pages" class="table sorting">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Slug
            </th>
            <th>
                Sidebar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSidebar)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPage", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "PageDetails", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete-page btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/Scripts/viewjs/pages.js"></script>
}
