@model MVC_Store.Models.ViewModels.Shop.ProductVM

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.ImageName))
            {
                <img src="~/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@Model.ImageName" class="img-thumbnail float-left img-admin-gallery m-2" />
            }
            else
            {
                <img class="img-thumbnail float-left imgpreview m-2" src="~/Content/img/NO_IMG_600x600.png" />
            }
            @Html.DisplayFor(model => model.Description)
            <br><br>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StyleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
            <a href="#" id="@Model.Id" class="btn btn-success addtocart">Add To Cart</a>
            <div class="ajaxmsg">Added to Cart!</div>
        </dd>
    </dl>
    <div class="row">
        <label class="control-label">Gallery</label>
    </div>
    <div class="fancyboxdiv">
        <div class="row">
            @if (Model.GalleryImages != null)
            {
                <div class="col">
                    @foreach (var imgName in Model.GalleryImages)
                    {
                        <a class="fancybox" rel="gallery1" href="~/Images/Uploads/Products/@Model.Id/Gallery/@imgName">
                            <img src="~/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@imgName" class="img-thumbnail float-left img-admin-gallery" />
                        </a>
                    }
                </div>
            }
            else
            {
                <img class="img-thumbnail float-left imgpreview" src="~/Content/img/NO_IMG_600x600.png" />
            }

        </div>
    </div>

</div>


@section scripts{
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/viewjs/cart.js"></script>
    <script>
        $(function () {
            $(".fancybox").fancybox();
        });
    </script>
}
